.resetPassword form input {
  width: 25em;
}
.resetPassword form input:focus {
  box-shadow: none;
}
.resetPassword .btn {
  font-size: 1.2em;
}
.resetPassword .btn:focus {
  box-shadow: none;
}
.resetPassword .btn:hover {
  transform: translateY(-2px);
}
