.mainRoot {
  background-color: #fef8f5;
}

/*---modals---*/
.modal .close {
  border: none;
  background: transparent;
  font-size: 2em;
  color: grey;
}

.modal .close:hover {
  color: black;
}
