.classHeading {
  font-family: "Raleway", sans-serif;
}

.flipCard {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  margin-top: 3em;
}

/* This container is needed to position the front and back side */
.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flipCardFront,
.flipCardBack {
  position: absolute;
  width: 100%;
  border-radius: 20px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipCardFront,
.flipCardBack {
  height: 180px;
}

/* Style the front side (fallback if image is missing) */
.flipCardFront {
  background-color: #fef8f5;
  color: black;
  border: 1px solid #ef7f4d;
  padding-left: 1.2em;
  padding-right: 1.2em;
}

.flipCardFront {
  padding-top: 2.5em;
}

.flipCardFront h4 {
  color: black;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* Style the back side */
.flipCardBack {
  background-color: #f88138;
  color: white;
  transform: rotateY(180deg);
  padding-top: 1em;
}

.flipCardBack button {
  border-radius: 15px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 2px 12px;
}

.flipCardBack button {
  font-size: 1.3em;
}

.flipCardBack button:hover {
  background-color: #fff;
  color: #f88138;
  transform: translateY(-1px);
}

.icon i {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 15px;
  color: #ef7f4d;
}
