/*----new Class----*/

.newClass .card {
  margin-top: 5em;
}

.newClass .card-img {
  width: 70%;
  margin-top: 4em;
  margin-left: 3.5em;
  /* animation: up-down 2s ease-in-out infinite alternate-reverse both; */
}

@media (max-width: 991px) {
  .newClass .animated {
    animation: none;
  }
}
@media (max-width: 1280px) {
  .newClass .card-img {
    margin-top: 3em;
  }
}
@media (max-width: 768px) {
  .newClass .card {
    width: 70%;
    margin-left: 5em;
    margin-top: 3em;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .newClass .card {
    width: 80%;
    margin-left: 4em;
    margin-top: 4em;
  }
}
@media (min-width: 991px) and (max-width: 1024px) {
  .newClass .card {
    width: 70%;
    margin-left: 6em;
    margin-top: 4em;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .newClass .card {
    width: 70%;
    margin-left: 8em;
    margin-top: 4em;
  }
}
