.formsubmit-btn {
  border-radius: 20px;
  font-size: 1.2em;
  font-weight: bold;
  color: #f88138;
  border: 2px solid #f88138;
  background-color: #fff;
  padding: 3px 0;
}
.formsubmit-btn:hover {
  color: #fff;
  background-color: #f88138;
}

@media (max-width: 1280px) {
  .time p {
    display: none;
  }
  .time #startTime {
    margin-bottom: 1em;
  }
}

@media (min-width: 1280px) {
  .time {
    display: inline-flex;
  }
}
@media (min-width: 1400px) {
  .time {
    margin-left: 1em;
  }
}
